<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Presidio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>
<h1>Welcome to Flights Reservation</h1>

<h3 ><a th:href="@{/booking}">Book Tickets</a></h3>
<h3 ><a th:href="@{/register}">Register</a></h3>
<h3 ><a th:href="@{/login}">Login</a></h3>
<h3 ><a th:href="@{/addFlight}">add</a></h3>
<h3 ><a th:href="@{/manageFlight}">manage</a></h3>

</body>
</html>