<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Presidio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>
<h1>Signup</h1>

<form th:action="@{/process_register}" method="post" th:object="${user}"  style="margin: auto; width: 220px;">
    <div>
        <label>Full</label>
        <input type="text" th:field="*{fullName}" required minlength="3">
    </div>

    <div>
        <label>email</label>
        <input type="email" th:field="*{email}" required minlength="3">
    </div>

    <div>
        <label>Password</label>
        <input type="password" th:field="*{password}" required minlength="5" maxlength="20">
    </div>

    <button>Sign up</button>
</form>

</body>
</html>